@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    height: 100vh;
    width: 100vw;
    background-color: #FFFFDD !important;
    font-family: 'Open Sans', sans-serif;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
}

.center{
    position: relative;
    width: 100%;
    height: 100%;
}

.center div{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-v {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-o {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.topnav{
    position: fixed;
    height: 20vh;
    width: 100vw;
}

.page{
    position: absolute;
    top: 20vh;
    width: 100vw;
}

.row {
    display: flex;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
  
.column-2 {
    flex: 50%;
    width: 45%;
}

#titolo{
    margin-right: 30px;
}

#titolo *{
    margin-bottom: 24px;
}

.column-2 h1{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 45px;
    font-family: roboto;
}

.column-2 h3{
    font-size: 23px;
    font-weight: 300;
    font-family: roboto;
}

.material-symbols-outlined{
    font-size: 30px !important;
}

.column-2 p{
    font-size: 19px;
}

form{
    background-color: #ffff;
    margin: 20px;
    box-shadow: 0px 0px 10px 3px #A2C579;
    padding: 30px 40px 30px 40px;
}

form .row{
    margin: 0;
    margin-top: 15px;
    padding: 0;
    width: 100%;
}

form .column-2{
    margin-left: 5px;
}

form .column-2:first-child{
    margin-right: 5px;
    margin-left: 0;
}

form p{
    font-size: 17px !important;
}

form input{
    padding: 0.9rem .9rem;
    font-size: 1rem;
    color: #2d353d;
    background-color: #e1e9f4;
    background-clip: padding-box;
    border: 1px solid #e1e9f4;
    width: 100%;
    box-sizing: border-box;
}

#ptoggle{
    flex: 50%;
    width: 50%;
    vertical-align: middle;
    display: table-cell;
    line-height: 36px;
}

input:focus {
    
}

form button{
    text-align: center;
}